<!DOCTYPE html>
@{
    Layout = null;
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/Login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/Login/css/style.css">

    <title>Login #9</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
